.input_file {position:absolute;right:0px;top:2px;z-index:3;cursor:pointer;opacity:0;filter: alpha(opacity=0);}
input.input_file_over {position:relative;display:block; width:48%}

.progress_div {display:none;position:absolute;|position:relative;top:0px;left:20px;z-index:10000;width:360px;border:1px solid #ccc;border-bottom:2px solid #BFBFBF;border-right:2px solid #BFBFBF; background:#EDF2F7;-moz-border-radius:5px;border-radius:5px;}
.progress_div .progress_time .upload_title{background:#FFFFFF url(../../js/domwin/pic/header.png) repeat-x scroll center bottom;padding:5px;border-bottom:1px solid #ccc;width:350px;display:block;font-size:11px;} 
.progress_div  .progress_time div.progress_shower{width:220px;height:19px; display:block;margin:5px auto;background:transparent url(../../css/fastest/upload/preloader.gif);}
.progress_div  .progress_time div div.inner {padding:5px;text-align:center;}
.progress_div  .progress_time div div.inner em{margin-right:10px;}