body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,table,select {margin:0;padding:0;font-style: normal;font-family: Arial,Tahoma;font-size:11px;}
img { border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;margin-bottom:.4em;margin-top:.4em;}
h1 {margin-top:0px;line-height:100%;}
abbr,acronym { border:0;}
blockquote {font-style:italic;}
fieldset {width:99%;margin:1em 0;padding:1em 0;position:relative;}
fieldset label,fieldset input{font-size:8pt;}
legend{margin:0px 0px 0px .5em;padding:0 .2em;}
input {font-size:11px;}
*>a{outline: none;} 
br {clear:both;}
pre {position:relative;top:10px;left:10px;border:1px solid #666;width:60%;display:block;z-index:100000;background:#fff;opacity:0.9;padding:5px;}

.ie {height:1%;}
.clear {clear:both;}

.none {display:none !important;}
.hidden {visibility:hidden;}
.no_show {visibility:hidden;display:none;}
.show {visibility:visible;display:block;}
.input_hidden ,.input_hidden:focus {border:0;background:none;}
.footer_statistiky {display:none;visibility:hidden;}
	
p.pblock {padding-left:100px;}
.plabel {width:97px;display:inline-block;}


.left {float:left !important;}
.right {float:right !important;}
.sll {float:left;width:49%;clear:left;}
.slr {float:right;clear:right;width:49%;}
.sll3 {float:left;width:33%;}
.sll66 {float:left;width:66%;}
.sll100 {float:left;width:100%;}
.sll15 {float:left;width:15%;}
.sll25 {float:left;width:25%;}
.sll75 {float:left;width:75%;}
.slr3 {float:right;width:33%;}

#addresses label{ width: 30% !important; }

.textarea_spec {width:51.5% !important; height:64px;}

.clear_left {clear:left;}

.sll_big {float:left;width:59%;clear:left;}
.slr_small {float:right;clear:right;width:39%;}


.text_right {text-align:right;}
.text_center {text-align:center;}
.text_left {text-align:left;}
.text_left {text-align:justify;}

.block {display:block;}

/* VYCHOZI HODNOTY */
.obal {position:relative;margin:0 auto;}
.header,.layout,.main ,.second,.third ,.footer{position:relative;display:block;}
.footer * {font-size:11px;}
.second  p , .second  input ,.second  label ,.second  a, .second strong,.second em,
.third  p , .third input ,.third  label ,.third  a ,.third  strong,.third em{font-size:11px;}
.navigace {z-index:99;}

table.cake-sql-log {position:relative;clear:both;height:500px;bottom:0px;left:0px;padding:1%;width:98%;border:2px solid #ccc;background:#fff;overflow:auto;display:block;margin-top:10px;background:#DFFFFB;display:block;}
table.cake-sql-log tr {border-bottom:1px solid #ccc;}
table.cake-sql-log td {padding:5px 0;}
#logo ,#logo span{width:100%;height:100%;position:absolute;}
.navigace,.search, .copyright,.doporuceni,.header_fce ,.footer_doporucujeme,.languages,.footer ul.navigace ,.header_fce {position:absolute;background:none;}
.box ,.box strong.title{position:relative;display:block;}

.icon {position:relative;float:left; margin:0 .3em;}
.legend_icon { margin:.2em .9em; width:17px; height:16px; float:left; display:block;}
.win_save {clear:both;margin-top:1em;text-align:center;}
img.icon,span.icon {width:16px;height:16px;cursor:pointer;top:5px;display:inline-block;position:relative;}
img.icons{width:16px;height:16px;float:left;margin-right:10px;}


.javascript_alert {position:absolute;top:0px;left:20px;color:#fff;font-weight:bold;border:1px solid #ff0000;padding:.5em;z-index:100;background:#FF6666;}
.ajax_preloader {position:absolute;left:40%;top:225px;background: transparent url("../css_default/icons/validation/preloader.gif") no-repeat left;padding-left:40px;line-height:35px;display:none;}

#refresh {display:none;}

/* START VALIDATION  
span.invalid, span.require , span.valid  ,span.wait{width:16px;height:16px;float:left;}
input.invalid,select.invalid,textarea.invalid {background:#FFCFCF;}
span.invalid {background:url(../css_default/icons/validation/error.gif)}
span.require{background:url(../css_default/icons/validation/req.gif)}
span.valid {background:url(../css_default/icons/validation/ok.gif)}
span.wait {background:url(../css_default/icons/validation/preloader.gif)}
/* END VALIDATION  */

.iehover/* IE:hover */ { background-color: expression(this.onmouseover = new Function("this.className += ' hover';"),this.onmouseout = new Function("this.className = this.className.replace(' hover', '')"));}

/* END TOOLTIPS */
.tool-tip {color: #fff;width: 139px;z-index: 13000;}
.tool-title {font-weight: bold;font-size: 11px;margin: 0;color: #9FD4FF;padding: 8px 8px 4px;background:url(../css_default/icons/bubble.png) top left;}
.tool-text {font-size: 11px;padding: 4px 8px 8px;background:url(../css_default/icons/bubble.png) bottom right;}
.custom-tip {color: #000;width: 130px;z-index: 13000;}
.custom-title {font-weight: bold;font-size: 11px;margin: 0;color: #3E4F14;padding: 8px 8px 4px;background: #C3DF7D;border-bottom: 1px solid #B5CF74;}
.custom-text {font-size: 11px;padding: 4px 8px 8px;background: #CFDFA7;}
/* END TOOLTIPS */


/* START ADRESA */
.address_validation {position:absolute; top:0px; left:0px;}
.address_overflow {position:relative;overflow:hidden; height:135px;}
.address_obal_in {position:relative; left:0px;}
.address_element {float:left;}
.address_row_list {margin:0px 10px 0px 10px; overflow:auto; height:63px}
.address_preloader {position:absolute; top:60px;background-color:#fff;padding:10 20px;z-index:50;}
.address_nadefinovat_adresu {margin: 2px auto 0;}
/* END ADRESA */



/* START PAGINATION */
.pagination {clear:both;padding:.3em 0;border-top:1px solid #ccc;text-align:center;}
.pagination span.pag_left a,.pagination span.pag_right a,.pagination span.pag_left ,.pagination span.pag_right {width:13px;height:13px;text-indent:-95px;overflow:hidden;float:left;visibility:hidden;}
.pagination span.pag_left a{visibility:visible;background:transparent url("../../css/fastest/icons/prev.png") no-repeat;}
.pagination span.pag_right a {float:right;visibility:visible;background:transparent url("../../css/fastest/icons/next.png") no-repeat;}
.pagination span.pag_right {float:right;}
.pagination em {font-weight:bold;font-style:normal;}
/* END PAGINATION */