<?php
if(isset($filtration_sum_variables)){   
    //pr($filtration_sum_variables);
    /* 
    $filtration_sum_variables = Set::combine($filtration_sum_variables,'{n}.AuditEstate.currency','{n}.0');
    if(!isset($filtration_sum_variables[1]))
        $filtration_sum_variables[1] = array('pronajem'=>0,'cena'=>0);
    */    
    if(!isset($filtration_sum_variables[0]))
        $filtration_sum_variables[0][0] = array('sum_celkem_hodin'=>0,'pocet_zamestnancu'=>0);    
   
    ?>
    
    <div id="filtration_variables">
        <div class="sll">
            Celkem hodin: <strong><?= $filtration_sum_variables[0][0]['sum_celkem_hodin'];?></strong><br />
            Počet zaměstnanců: <strong><?= $filtration_sum_variables[0][0]['pocet_zamestnancu'];?></strong><br />
        </div>
        <div class="slr">
        </div>
    </div>
<?php 
}
?>