<div class="domtabs admin_file_links">
		<ul class="zalozky">
			<li class="ousko"><a href="#krok1">Správce souborů</a></li>
		</ul>
</div>
<div class="domtabs admin_file">
<div class="domtabs field">

<div id='file_list_max'>
	<?php echo $this->renderElement('../ftp/usershare_items');?>
</div>
<br />
</div>
</div>
<script language="JavaScript" type="text/javascript">
	var domtab = new DomTabs({'className':'admin_file'}); 	
 </script>