<a href="#" id="print_button">Tisknout</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a href="#" onclick="window.close(); return false;">Zavřít okno tisku</a><br />

<div id="box_print">
    <div class="sll">
    <?php
    	echo $htmlExt->var_text(null, array('label'=>'Název ubytovny','class'=>'read_info','value'=>$detail['Accommodation']['name'])).'<br />';	   	  
    	echo $htmlExt->var_text(null, array('label'=>'Město','class'=>'read_info','value'=>$detail['Accommodation']['city'])).'<br />';	   	   
    ?>
    </div> 
    <div class="slr">
    
    <?php
        echo '<label>Fakturaci kontroloval:</label><var>..............................</var><br />';
        echo '<label>Schvalil:</label><var>..............................</var><br />';
    ?>
    </div>
</div>
<br /> 
<br /> 
<br /> 
 
        				<table class='table' style="width: 100%;">
        					<tr style="text-align: left;">
            					<th>Zaměstnanec</th>
        						<th>Počet dnů</th>
        					</tr>
        					<?php 
        					if (isset($zamestnanci_list) && count($zamestnanci_list) > 0){
        						foreach($zamestnanci_list as $zam):	
        						?>
        						<tr>
        							<td class='td_client'><?php echo $zam['Client']['name'];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['accommodation_days_count'];?></td>
        						</tr>
        					<?php 
        						endforeach;
        					}
        					else echo "<tr id='NoneSearch'><td></td>Žádní zaměstnanci</td></tr>"; 
        					?>
    					</table>
		
<script language="javascript" type="text/javascript">
print();
$('print_button').addEvent('click',function(e){
   e.stop();
   print();
    
});

</script>