<div class="sll3">
    <fieldset>
        <legend>Bonusy</legend>
        <?php echo $htmlExt->selectTag('Bonus/id',$bonus_list,null,array('class'=>'long','rel'=>'0'));?><a href="#" class="add_setting ta status1" title="Přidat">Přidat</a><br />
        <ul class="list_box">
            <?php $fastest->show_money_item_setting(0,$is_set_settings,$bonus_list);?>
        </ul>
    </fieldset>
</div>
<div class="sll3">
    <fieldset>
        <legend>Příplatky</legend>
        <?php echo $htmlExt->selectTag('ExtraPay/id',$extra_pay_list,null,array('class'=>'long ','rel'=>'1'));?><a href="#" class="add_setting ta status1" title="Přidat">Přidat</a><br />
        <ul class="list_box">
            <?php $fastest->show_money_item_setting(1,$is_set_settings,$extra_pay_list);?>
        </ul>
    </fieldset>
</div>   
<div class="sll3">
    <fieldset>
        <legend>Srážky</legend>
        <?php echo $htmlExt->selectTag('Drawback/id',$drawback_list,null,array('class'=>'long','rel'=>'2'));?><a href="#" class="add_setting ta status1" title="Přidat">Přidat</a><br />
        <ul class="list_box">
            <?php $fastest->show_money_item_setting(2,$is_set_settings,$drawback_list);?>
        </ul>
    </fieldset>
</div>     
<br />  