.nova_kategorie {background-repeat:no-repeat;background-position:left; padding-left:20px;}
#context_menu {width:135px;}
#context_menu a {padding-left:24px;background-repeat:no-repeat;background-position:left;cursor:pointer;}
#context_menu img {padding:0 10px 0 0}
#context_menu .copy,.nova_kategorie {background-image: url("../../css/fastest/icons/menu/add.gif")}
#context_menu .active {background-image: url("../../css/fastest/icons/menu/active.gif")}
#context_menu .deactive {background-image: url("../../css/fastest/icons/menu/deactive.gif")}
#context_menu .detail {background-image: url("../../css/fastest/icons/menu/edit.gif")}
#context_menu .movetop {background-image: url("../../css/fastest/icons/menu/2uparrow.gif")}
#context_menu .moveup {background-image: url("../../css/fastest/icons/menu/up_arrow.gif")}
#context_menu .movedown {background-image: url("../../css/fastest/icons/menu/down_arrow.gif")}
#context_menu .movebottom {background-image: url("../../css/fastest/icons/menu/2downarrow.gif")}
#context_menu .delete {background-image: url("../../css/fastest/icons/menu/delete.gif")}
ul#context_menu.ddmenu {padding:5px;border:1px solid #666;background:#fff;}
ul#context_menu.ddmenu li {list-style:none;line-height:20px;border-bottom:1px solid #EFF7FF}
ul#context_menu.ddmenu li:hover {background:#CCD9EA;}
#contain, #contain ul {list-style:none;margin:3px;padding:3px 5px 3px 5px; }
#contain ul.tempUl {list-style:none;margin:0px 3px 0px 3px;padding:0px 5px 0px 5px; }
#contain li {width:168px; line-height:23px;position:relative; padding:0px 2px 0px 2px;}
ul#contain li input{background:none;|position:absolute;|top:0;;border:1px solid #fff;display:inline;}
ul#contain li input:hover {border:1px dotted #ccc;}
ul#contain li input:focus {border:1px solid #ccc;background:#CCD9E9;}
 #contain input.inactive {font-style: italic; color:#666}
.cat_move {background: url(/css/fastest/admin/icons/system/drag.gif) no-repeat center;width:26px;height:16px;display:inline;border:1px solid #EFF0F2;}
#contain .context_button {width:15px; height:15px; background:transparent url("../../css/fastest/icons/menu/dropmenu.gif") no-repeat bottom; border:1px solid #ccc; float:right; margin:4px 0px 0px 0px ;cursor:pointer}
#category_page {padding:10px;}