<label>URL odkazu</label><input value="" type="text" id="LinkEditor" class='inputW link_add_edit_href input_small'>
<a href="#" title="Odkaz na soubor" class="but folder_file" id="file_editor_icon"></a>
<a href="#" title="Odkaz na kategorii" class="but folder_category" id="menu_item_editor_icon"></a>
<a href="#" title="Odkaz na článek" class="but folder_article" id="article_editor_icon"></a>
<br class="clear" />
<label>Kotvy</label><select class='selectW link_add_edit_anchorlist'><option value="">---</option></select><br class="clear" />
<label>Cíl</label>
<select class='selectW link_add_edit_targetlist'>
	<option value="_self">Otevřít v tomto okně / rámu</option>
	<option value="_blank">Otevřít v novém okně (_blank)</option>
	<option value="_parent">Otevřít v rodičovském okně / rámu (_parent)</option>
	<option value="_top">Otevřít v hlavním rámci (nahradí všechny rámce) (_top)</option>
</select><br class="clear" />

<label>Název</label>
<input value="" type="text" class='inputW link_add_edit_title'><br class="clear" />
	
<label>Rel</label>
<input value="" type="text" class='inputW link_add_edit_rel'><br class="clear" />

<label>Třída</label>
<select class='selectW link_add_edit_classlist'>
	<option value="" selected="selected">-- Nenastaven --</option>
</select><br class="clear" />
<p class="text_right">
	<input type='button' title='Vložit do textu' value='Vložit' class='close_button'/>
</p>
<script language="JavaScript" type="text/javascript">

	$('file_editor_icon').addEvent('click',function(e){
		new Event(e).stop();
			domwin.newWindow({
				id			: 'filemanager',
				sizes		: [1000,420],
				scrollbars	: false,
				defined_lang: [<?php echo implode(',',array_map(create_function('$item', 'return  \'"\'.$item.\'"\';'),array_keys($languages))); ?>],
				languages	: <?php echo (isset($renderSetting['domwin_setting']['languages']))?$renderSetting['domwin_setting']['languages']:"['cz']"?>,
				title		: this.title,
				ajax_url	: '/ftp/?win=true&input=LinkEditor',
				closeConfirm: false,
				max_minBtn	: false,
				modal_close	: false
				}); 
	});
	
	$('article_editor_icon').addEvent('click',function(e){
		new Event(e).stop();
			domwin.newWindow({
				id			: 'add_wswg_articles',
				sizes		: [600,420],
				scrollbars	: true,
				defined_lang: [<?php echo implode(',',array_map(create_function('$item', 'return  \'"\'.$item.\'"\';'),array_keys($languages))); ?>],
				languages	: <?php echo (isset($renderSetting['domwin_setting']['languages']))?$renderSetting['domwin_setting']['languages']:"['cz']"?>,
				title		: this.title,
				ajax_url	: '/articles/wysiwyg/?win=true&input=LinkEditor',
				closeConfirm: false,
				max_minBtn	: false,
				modal_close	: false
				}); 
	});
	$('menu_item_editor_icon').addEvent('click',function(e){
		new Event(e).stop();
			domwin.newWindow({
				id			: 'add_wswg_menuitems',
				sizes		: [600,420],
				scrollbars	: true,
				defined_lang: [<?php echo implode(',',array_map(create_function('$item', 'return  \'"\'.$item.\'"\';'),array_keys($languages))); ?>],
				languages	: <?php echo (isset($renderSetting['domwin_setting']['languages']))?$renderSetting['domwin_setting']['languages']:"['cz']"?>,
				title		: this.title,
				ajax_url	: '/menu_items/wysiwyg/?win=true&input=LinkEditor',
				closeConfirm: false,
				max_minBtn	: false,
				modal_close	: false
				}); 
	});
</script>