<fieldset class="over">
	<legend>Vložte text ... (CTRL+V)</legend>
	<div class='inputW paste_html_div' autofocus="autofocus" contenteditable="true">.</div>
</fieldset>
<p class="text_right">
		<input type='button' title='Vložit text' value='Vložit text' class='close_button'/>
</p>