    <div class='w310' style='margin:10px'>
		<fieldset>
			<label class='label w100'>Class</label>
			<div class='obalselect w180'>
				<select id="table_props_row_class" class='select w184'>
					<option> -- Vyberte -- </option>
				</select>
			</div>
			<br style='clear:both'/>
			
			<label class='label w100'>Id</label>
			<input id='table_props_row_id' value="" type="text" class='input_text w180'/>
		</fieldset>
	</div>