﻿    <div style='margin:10px'>
		<fieldset>
			<legend>Obecné vlastnosti</legend>
			<div class='sll'>
				<label class='label w100' id="table_cell_props_classlabel" for="class">Třída (CSS)</label>
				<select id="table_cell_props_class" name="class" class='select w100' style='float:left'>
					<option value="" selected>-- Nezvoleno --</option>
				</select>
				<br />
					
				<label class='label w100' id="table_cell_props_alignlabel" for="align">Zarovnání</label>
				<select id="table_cell_props_align" name="align" class='select w100' style='float:left'>
					<option value="">-- Nezvoleno --</option>
					<option value="center">Na stred</option>
					<option value="left">Vlevo</option>
					<option value="right">Vpravo</option>
				</select> 
				<br />
				<label class='label w100' id="table_cell_props_widthlabel" for="width">Šířka</label>
				<input name="width" type="text" id="table_cell_props_width" value="" size="4" maxlength="4" class="input_text w100" />
				<br />
				<label class='label w100' for="style">Styl</label>
				<input type="text" id="table_cell_props_styles" name="styles" value="" class='input_text w100' />
				<br />
				<label class='label w100' for="bgcolor">Barva pozadí</label>
				<input type='button' id='table_cell_props_change_bg_color' onclick='picker(this)' style='float:left;width:60px; height:20px; border:1px solid #CCCC'/><br/>
				<br />
			</div>
			<div class='slr'>
				<label class='label w100'>Id</label>
				<input id='table_cell_props_id' value="" type="text" class='input_text w100'/>
				<br />
				
				<label class='label w100' for="dir">Vertikalni zarovnani</label>
				<select id="table_cell_props_valign" name="dir" class='select w100' style='float:left'>
					<option value="">-- Nenastaven --</option>
					<option value="top">Nahoru</option>
					<option value="middle">Na střed</option>
					<option value="bottom">Dolů</option>		
				</select>
			</div>
				<br />
				
				
				<label class='label w100' id="table_cell_props_heightlabel" for="height">Výška</label>
				<input name="height" type="text" id="table_cell_props_height" value="" size="4" maxlength="4" class="input_text w100" />
				<br />
				
				<label class='label w100' for="dir">Smer textu</label>
				<select id="table_cell_props_dir" name="dir" class='select w100' style='float:left'>
					<option value="">-- Nezvoleno --</option> 
					<option value="ltr">Z leva do prava</option> 
					<option value="rtl">Z prava do leva</option> 
				</select>
				<br />

								
			</div>
			<br style='clear:both' />
			
		</fieldset>
		<fieldset style='float:left; width:120px; height:149px; margin-right:2px'>
			<legend>Uspořádání čar</legend>
			<strong>Nahled</strong><br />
			<div style='width:90px; border:1px solid #222; padding:5px; position:relative'>
				<div id='table_cell_props_table_preview' style='width:80px; height:80px; margin-left:3px'></div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Čára</legend>
			<div style='float:left; margin-right:20px'>
				<strong>Styl</strong>
				<div id='table_cell_props_style'>
					<a><div>Bez border</div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
				</div>
			</div>
			<div style='float:left'>
				<strong>Šířka</strong>
				<div id='table_cell_props_thin'>
					<a>1px<span style='height:1px;top:12px'></span></a>
					<a>2px<span style='height:2px;top:11px;'></span></a>
					<a>3px<span style='height:3px;top:11px;'></span></a>
					<a>4px<span style='height:4px;top:10px;'></span></a>
					<a>5px<span style='height:5px;top:10px;'></span></a>
					<a>6px<span style='height:6px;top:9px;'></span></a>
					<a>7px<span style='height:7px;top:9px;'></span></a>
				</div>
			</div>
			<div style='float:left;margin-left:20px'>
				<strong>Barva rámečku</strong><br/>
				<input type='button' id='table_cell_props_change_border_color' onclick='picker(this);' style='width:60px; height:20px; border:1px solid #CCCC'/></br>
			</div>
			<br style='clear:both'/>
		</fieldset>
	</div>