<table class='table'>
    	<thead>
	    	<tr>
	    		<th>Klient</th>
	    		<th>Telefon</th>
	    		<th>Nástup</th>
	    	</tr>
	</thead>
	<tbody id='table_cekaci_listina'>
			<?php if (isset($cekaci_listina_list) && count($cekaci_listina_list)>0):?>
			<?php foreach($cekaci_listina_list as $client):?>
			<tr>
	    		<td><?php echo $client['Client']['name'];?> </td>
	    		<td><?php echo $client['Client'][$client['Client']['mobil_active']];?> </td>
	    		<td><?php echo $fastest->czechDateTime($nastup['CompanyOrderItem']['start_datetime']);?></td>
	    	</tr>
			<?php endforeach;?>
			<?php else :?>
			<?php endif;?>
	 </tbody>
</table>