<form action='/report_requirements_for_recruitments/del_zam_dotaznik/<?php echo $client_id;?>/<?php echo $company_id;?>/<?php echo $requirement_id;?>/<?php echo $connection_id;?>' method='post' id='formular'>
<?php echo $htmlExt->hidden('company_work_position_id');?>
      <fieldset>
				<legend>Komentář</legend>
				  <?php echo $htmlExt->textarea('text',array('tabindex'=>1,'label'=>'Text','class'=>'long','label_class'=>'long'));?> <br class="clear">
			    <?php echo $htmlExt->inputDate('to',array('tabindex'=>1,'value'=>Date ('Y-m-d'),'label'=>'Do','class'=>'','label_class'=>'long'));?> <br class="clear">		
      </fieldset>
	<div class='formular_action'>
		<input type='button' value='Propustit' id='AddEditClientMessageSaveAndClose' />
		<input type='button' value='Zavřít' id='AddEditClientMessageClose'/>
	</div>
</form>
<script>

	
	$('AddEditClientMessageClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin_del_as_employment');});
	
	$('AddEditClientMessageSaveAndClose').addEvent('click',function(e){
		new Event(e).stop();

			new Request.JSON({
				url:$('formular').action,		
				onComplete:function(){
				  propustit_zamestnance();
					domwin.closeWindow('domwin_del_as_employment');
				}
			}).post($('formular'));

	});
	</script>

	