<form action='/report_requirements_for_recruitments/remove_dotaznik/<?php echo $client_id;?>/<?php echo $company_id;?>/<?php echo $requirement_id;?>' method='post' id='formular'>

      <fieldset>
				<legend>Důvod odstranění</legend>
				  <?php echo $htmlExt->selectTag('reason',$duvod_uvolneni_list,null,array('label'=>'Důvod uvolnění','class'=>'long','label_class'=>'long'),null,false);?><br/>
				  <?php echo $htmlExt->textarea('text',array('tabindex'=>3,'label'=>'Komentář','class'=>'long','label_class'=>'long'));?> <br class="clear">
			</fieldset>
	<div class='formular_action'>
		<input type='button' value='Odstranit' id='AddEditClientMessageSaveAndClose' />
		<input type='button' value='Zavřít' id='AddEditClientMessageClose'/>
	</div>
</form>
<script>

	
	$('AddEditClientMessageClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin_remove_curr_add');});
	
	$('AddEditClientMessageSaveAndClose').addEvent('click',function(e){
		new Event(e).stop();

			new Request.JSON({
				url:$('formular').action,		
				onComplete:function(){
				  remove_from_position();
					domwin.closeWindow('domwin_remove_curr_add');
				}
			}).post($('formular'));

	});
	</script>

	