<a href="#" id="print_button">Tisknout</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a href="#" onclick="window.close(); return false;">Zavřít okno tisku</a><br />

<div id="box_print">
    <div class="sll">
    <?php
    	echo $htmlExt->var_text(null, array('label'=>'Osoba','class'=>'read_info','value'=>$detail['CompanyPerson']['name'])).'<br />';	   	  
    	echo $htmlExt->var_text(null, array('label'=>'Firma','class'=>'read_info','value'=>$detail['CompanyAuditEstate']['name'])).'<br />';	   	   
    ?>
    </div> 
    <div class="slr">
    
    <?php
       echo '<label>Schvalil:</label><var>..............................</var><br />';
    ?>
    </div>
</div>
<br /> 
<br /> 
<br /> 
 
        				<table class='table' style="width: 100%;">
        					<tr style="text-align: left;">
            					<th>Majetek</th>
            					<th>Využívá od</th>
        						<th>Vraceno</th>
        					</tr>
        					<?php 
        					if (isset($estate_list) && count($estate_list) > 0){
        						foreach($estate_list as $item):	
        						?>
        						<tr>
        							<td class='td_client'><?php echo $item['AuditEstate']['name'];?></td>
        							<td><?php echo $fastest->czechDate($item['ConnectionAuditEstate']['created']);?></td>
        							<td><?php echo $htmlExt->checkbox('ano');?></td>
        						</tr>
        					<?php 
        						endforeach;
        					}
        					else echo "<tr id='NoneSearch'><td>Žádní zaměstnanci</td></tr>"; 
        					?>
    					</table>
		
<script language="javascript" type="text/javascript">
print();
$('print_button').addEvent('click',function(e){
   e.stop();
   print();
    
});

</script>