<div id="box_print">
    <div class="sll">
    <?php
    	echo $htmlExt->var_text(null, array('label'=>'Měsic','class'=>'read_info','value'=>$mesice_list[$month])).'<br />';	   	  
    
        echo $htmlExt->var_text(null, array('label'=>'Firma','class'=>'read_info','value'=>$detail['Company']['name'])).'<br />';	   	  
    	echo $htmlExt->var_text(null, array('label'=>'Město','class'=>'read_info','value'=>$detail['Company']['mesto'])).'<br />';	   	   
        
        echo $htmlExt->var_text(null, array('label'=>'Celkový počet stravenek','class'=>'read_info','value'=>$pocet_stravenek)).'<br />';	   	  
        echo $htmlExt->var_text(null, array('label'=>'Celkový počet lidí','class'=>'read_info','value'=>count($zamestnanci_list))).'<br />';	   	  
     
        ?>
    </div> 
    <div class="slr">
    
    <?php
    	echo $htmlExt->var_text(null, array('label'=>'Rok','class'=>'read_info','value'=>$year)).'<br />';	   	  
     
        echo '<label>Fakturaci kontroloval:</label><var>..............................</var><br />';
        echo '<label>Schvalil:</label><var>..............................</var><br />';
    ?>
    </div>
</div>
<br /> 
<br /> 
<br /> 
 
        				<table class='table' style="width: 100%;">
        					<tr style="text-align: left;">
            					<th></th>
            					<th>Zaměstnanec</th>
            					<th>Datum nástupu</th>
            					<th>Datum ukončení</th>
        						<th>Počet dnů</th>
        					</tr>
        					<?php 
                            $i = 1;
        					if (isset($zamestnanci_list) && count($zamestnanci_list) > 0){
        						foreach($zamestnanci_list as $zam):	
        						?>
        						<tr>
                                    <td width="10px"><?php echo $i;?>.</td>
        							<td class='td_client'><?php echo $zam['Client']['name'];?></td>
        							<td><?php echo $fastest->czechDate($zam['ConnectionClientRequirement']['from']);?></td>
        							<td><?php echo $fastest->czechDate($zam['ConnectionClientRequirement']['to']);?></td>
        							<td><?php echo $zam['ClientWorkingHour']['food_days_count'];?></td>
        						</tr>
        					<?php 
                            $i++;
        						endforeach;
        					}
        					else echo "<tr id='NoneSearch'><td></td>Žádní zaměstnanci</td></tr>"; 
        					?>
    					</table>
		
<script language="javascript" type="text/javascript">
//print();

</script>