ul#navmenu {position:absolute;top:5px;left:200px;z-index:10;}
/*1 uroven */
ul#navmenu li {float:left;margin:0;display:block;border-right:1px solid #017CC0;border-left:1px solid #017CC0;position:relative;font-weight:bold;padding-left:5px;}
ul#navmenu li a {color:#fff;text-decoration:none;display:block;padding:28px 10px 28px 23px;}
ul#navmenu li:hover,ul#navmenu li.iehover{background:#024C93 url("../../css/fastest_own/menu/li_menu_hover.gif") no-repeat 8px;border-right:1px solid #00A2E2;border-left:1px solid #00A2E2;}
ul#navmenu li a:hover {color:#fff;text-decoration:underline;}

/*2 uroven */
ul#navmenu ul {display:none;} 
ul#navmenu ul li a{border-bottom:1px solid #007BBF;height:1%;text-decoration:underline;}
ul#navmenu li:hover ul ,ul#navmenu li.iehover ul {top:70px;left:-1px;width:200px;border-color:#ccc;padding:2px 0px;border-width:0px 1px 1px 1px;border-style:solid;display:block;position:absolute;background:#0095D7;}

ul#navmenu li:hover ul li,ul#navmenu li.iehover ul li{height:1%;background:#0095D7;float:none;position:relative;padding:0px 2px;}
ul#navmenu li:hover ul li a,ul#navmenu li.iehover ul li a{height:1%;color:#fff;font-weight:normal;display:block;line-height:15px;padding:5px 5px;text-decoration:none;}
ul#navmenu li:hover ul li a:hover,ul#navmenu li.iehover ul li a:hover{background-color:#024C93;color:#fff;text-decoration:none;}
 
/*3 uroven */
ul#navmenu ul ul {display:none;}
ul#navmenu li:hover li:hover ul,ul#navmenu li.iehover li.iehover ul{top:-5px;left:200px;width:200px;display:block;}

/*IE HOVER*/
ul#navmenu li ,ul#navmenu li ul li,ul#navmenu li ul li ul li{background-color: expression(this.onmouseover = new Function("this.className += ' iehover';"),this.onmouseout = new Function("this.className = this.className.replace(' iehover', '')"));}