body {background:#CFE2F3;color:#000E2D}.obal {width:100%;min-width:1000px;}
/* START ODKAZY GLOBALNE */
a:link {color:#5FBE2C;text-decoration:none;}
a:visited {color:#9BD38A;text-decoration:none;}
a:hover {color:#024C93;text-decoration:underline;}
a:active {color:#00113D;text-decoration:none;}
/* END ODKAZY GLOBALNE */
 
.header {width:100%;height:70px;display:block;background:#017CC0;border-top:5px solid #024C93;border-bottom:1px solid #ccc;}
.header a {color:#B8EC7E}
#logo {left:0px;top:0px;width:186px;height:70px;}
#logo span{background:#F8F8F9 url("../../css/fastest_own/layout/logo.jpg") no-repeat top;}
#login_info {float:right;padding:5px 30px 5px 15px;height:50px;width:350px;color:#fff;}
.drobeckova {border-bottom:1px solid #E0E8EF;line-height:30px;background:#CFE2F3;}
.drobeckova a ,.drobeckova strong {color:#024C93;background:transparent url("../../css/fastest_own/button/li-submenu.gif") no-repeat left;margin-left:10px;padding-left:10px;}
.drobeckova strong {color:#024C93}
.layout {margin:auto;background:#fff;padding-bottom:80px;}
.footer {width:99%;padding:0.5%;height:30px;color:#040A3E;display:block;background:#CFE2F3;border-top:2px solid #7194D4;}
.footer a {color:#040A3E;}

table.table {border:1px groove #C8DDF0;border-bottom:1px solid #C8DDF0;padding:0.1px;width:98%;margin:auto;border-collapse: collapse;}
table.table col.active{background:#DDEBF6;}
table.table col.posibility{background:#DDEBF6;}

table.table tr th {font-weight:bold;background:#82A3D9 url("../../css/fastest_own/table/table_th.png") repeat-x top;padding:4px 3px;border-bottom:2px solid #C8DDF0;}
table.table tr th.active {background:#5E83C9 url("../../css/fastest_own/table/table_th.png") repeat-x;background-position:100% -14px;}
table.table tr th.active a {color:#041239;}
table.table tr th a{color:#024C93;}
table.table tr td {padding:1px 6px;border-bottom:1px solid #ccc;}
table.table tr.od {background-image: url("../../css/fastest_own/table/odd.png");}
table.table tbody tr:hover {background-color:#CCD9E9;background-image:none;}

.ta_check {width:20px;}
.ta {display:inline-block;width:16px;height:16px;overflow:hidden;text-indent:-100px;}

.edit {background:transparent url("../../css/fastest_own/table/ta_edit.png") no-repeat top;}
.trash,.trash_more {background:transparent url("../../css/fastest_own/table/ta_trash.png") no-repeat top;}
.status1,.active_more {background:transparent url("../../css/fastest_own/table/ta_active.png") no-repeat top;}
.status0 ,.deactive_more{background:transparent url("../../css/fastest_own/table/ta_deactive.png") no-repeat top;}
.kontakty {background:transparent url("../../css/fastest_own/table/ta_kontakty.png") no-repeat top;}
.aktivity {background:transparent url("../../css/fastest_own/table/ta_aktivity.png") no-repeat top;}
.show {background:transparent url("../../css/fastest_own/table/ta_show.png") no-repeat top;}

.lista_add {height:44px;margin:0px 0px 10px 0px;padding:10px 0px 0px 16px;background:#EFFBFF;border-bottom:1px solid #EFEFEF}
.lista_add ul li{float:left;padding-top:12px;}
.lista_add ul li:hover{} 
.lista_add ul li a {line-height:30px;padding:18px 10px;color:#024C93;}

/* ::IKONY*/
.add{background:transparent url("../../css/fastest_own/icons/add.png") no-repeat top;}
.delete{background:transparent url("../../css/fastest_own/icons/delete.png") no-repeat top;}
.kos{background:transparent url("../../css/fastest_own/icons/trash.png") no-repeat top;display:block;width:40px;height:38px;float:right;}
.kos.full{background:transparent url("../../css/fastest_own/icons/trash_full.png") no-repeat top;}


.win_fce.top {width:95%;display:block;height:16px;padding:10px 6px;}

/* ::input */
input[type='text'],input[type='password'],textarea,select {float:left;width:56%;border:1px solid #ccc;margin:3px;padding:2px;background-image:url("../../css/fastest_own/button/bg_input.png");background-position:left top;background-repeat:repeat-x;}
input[type='text']:focus,input[type='password']:focus,textarea:focus,select:focus {background-color:#E0E8EF;}
input[type='button'],input[type='submit'],input.button {background:transparent url("../../css/fastest_own/button/button.png") repeat-x top;border:1px solid #ccc;padding:2px 5px;cursor:pointer;font-weight:bold;color:#000;}
input[type='checkbox'] {border:1px solid #ccc;margin:3px;float:left;padding:2px;}

a.button{padding:5px 3px;font-weight:bold;color:#000;text-decoration:none;background:transparent url("../../css/fastest_own/button/button.png") repeat-x top;border:1px solid #ccc;}

var {margin:3px;padding:2px;float:left;}

input[type='text'].long {width:78.5%;}

.formular_action {text-align:center;margin-top:10px;}
select {width:56%;}
textarea.long {width:78.4%;}
label {float:left;width:35%;margin:3px;padding:2px;} 
label.long {float:left;width:17.2%;}

fieldset {border:1px ridge #DFDFDF;}
fieldset  fieldset  {margin:0.5%;WIDTH:97%;margin:auto;margin-top:10px;border:1px solid #EFEFEF;border-width:1px 3px 3px 1px;}
fieldset  fieldset  legend {color:#1B476F}
fieldset p{margin:5px;}
legend {color:#024C93}

.radio {margin:3px 15px;}

br.no {clear:none !important;}

a.next {background:transparent url("../../css/fastest_own/icons/next.png") no-repeat right;padding-right:20px;float:right;color:#000E2D;}
a.prev {background:transparent url("../../css/fastest_own/icons/prev.png") no-repeat left;padding-left:20px;float:left;color:#000E2D;clear:right;}

h1,h2,h3,h4,h5 {margin:20px 20px;}
h1 {font-size:18px;color:#024C93;}


#main_page h3 {font-size:14px;color:#61134C;margin:0;padding:0 10px;font-weight:bold;background:transparent url("../../css/fastest_own/box/box_title_bg.png") repeat-x left bottom;line-height:30px;}
#main_page div.table h4{background:#EBEBED;border-bottom:1px solid #ccc;margin:5px 0px;padding:5px;font-weight:bold;}
#main_page div.table {background:#F8F8F9;border-bottom:2px solid #ccc;margin:20px;}
#main_page div.table div{padding:10px;}
#main_page div.box div.table table{border-collapse: collapse;width:100%;border-top:2px solid #ccc;}
#main_page div.box div.table table tr td{padding:4px 10px;}
#main_page div.box div.table table tr{border-bottom:1px solid #DFDFDF;}
#main_page div.box div.table table th{background:#EBEBED;padding:4px 10px;font-weight:bold;}

.alert_message h2 {background:transparent url("../../css/fastest_own/validation/error_big.gif") no-repeat left;padding-left:40px;font-weight:bold;line-height:30px;}
.require {background-color:#FFF4DF}
.invalid {background-color:#FFCFCF;}
.wait {background: transparent url("../../css/fastest_own/validation/preloader.gif") no-repeat right !important;}


#preloader {width:100px;background:#F1F2F4 url("../../css/fastest_own/action/ajax-loader.gif") no-repeat 10px;display:none;height:35px;color:#61134C;line-height:35px;position:absolute;top:5px;left:0px;opacity:1.0;padding:12px 50px;}

#filtration {overflow:hidden;border:1px solid #ccc;position:absolute;text-align:right;top:-1px;right:17px;line-height:30px;width:630px;display:block;background:#F3E4EE;padding-right:0px;text-align:center;}
#filtration #pole {min-height:44px;width:90%;float:left;}
#filtration #pole span{white-space:nowrap;}
#filtration input[type='text'],#filtration input[type='button'] ,#filtration select,#filtration label{float:none !important;display:inline-block;margin:0;}
#filtration label {width:auto;margin:0;}
#filtration select ,#filtration input[type='text']{width:100px;}
#filtration select.small,#filtration input[type='text'].small {width:50px;}
#filtration input[type='text'].calendar {width:87px;}
#filtration #filtr_button {margin-top:10px;}

.login_box {width:400px; height:200px; background:#fff;border-right:2px solid #ccc; border-left:1px solid #ccc; border-bottom:2px solid #ccc; border-top:4px solid #61134C; display:block;margin:50px auto;position:relative;}
.login_box h2 {color:#61134C;font-size:14px;font-weight:bold;width:39%;height:58px;position:relative;margin:0;border-bottom:1px solid #ccc;margin-bottom:10px;padding-left:61%;line-height:75px;}
.login_box h2{background:#F1F2F5 url("../../css/fastest_own/layout/logo.gif") no-repeat 10px top ;}
#login_now {margin:10px auto;position:relative;display:block;}

/* START MAIN PAGE */
#main_page {padding:10px}
#main_page .box{
	border:1px solid #D6D6D6;
}

/* END MAIN PAGE */
