<table class='table'>
<colgroup>
	<col />
	<col  />
	<col class="active"/>
	<col />
	<col />
	<col class="posibility" />
</colgroup> 

<thead>
	<tr>
		<th><a href="#">Column num #1</a></th>
		<th >Column num #2</th>
		<th class="active">Column num #3</th>
		<th>Column num #4</th>
		<th>Column num #5</th>
		<th>Column num #6</th>
	</tr>
</thead>

<tbody>
	<tr>
		<td>Value 1</td>
		<td>Value 2</td>
		<td>Value 3</td>
		<td>Value 4</td>
		<td>Value 5</td>
		<td>Value 6</td>
	</tr>
	<tr class='od'>
		<td>Value 1</td>
		<td>Value 2</td>
		<td>Value 3</td>
		<td>Value 4</td>
		<td>Value 5</td>
		<td>Value 6</td>
	</tr>
	<tr>
		<td>Value 1</td>
		<td>Value 2</td>
		<td>Value 3</td>
		<td>Value 4</td>
		<td>Value 5</td>
		<td>Value 6</td>
	</tr>
</tbody>
</table>
<a href='#' id='call_domwin'>Domwin</a>
<script language="JavaScript" type="text/javascript"> 
	$('call_domwin').addEvent('click', function(e){
		new Event(e).stop();
		domwin.newWindow({
			id			: 'domwin_test',
			sizes		: [600,450],
			scrollbars	: true,
			title		: 'Domwin Test',
			languages	: false,
			type		: 'AJAX',
			ajax_url	: '/domwin/',
			closeConfirm: false,
			max_minBtn	: false,
			modal_close	: false
		}); 
	});
	

</script>
	