<p style='padding:20px'>
    Vítejte v systému


</p>
<?php 
if(isset($changelog_list) && count($changelog_list) > 0){
  echo '<div id="changelog">';
     echo '<h2>Novinky v systému</h2>';

     foreach($changelog_list as $item){
        echo '<p><span>'.$fastest->czechDate($item['Changelog']['datum']).'</span> - '.$item['Changelog']['text'].'</p>';
     }
  
  echo '</div>';
 
    
}
?>