<h2>Oddělení realizace:</h2>
<table class='table'>
	<tr>
		<td>Datum</td>
		<td colspan="3"><?php echo $htmlExt->input('oddeleni_realizace_mesic',array('value'=>$mesic,'class'=>'months'));?></td>
	</tr>
    <tr>
		<td>Počet KOO</td>
		<td colspan="3"><?php echo $pocet_koo;?></td>
	</tr>
	<tr>
		<td>Počty</td>
		<td><strong>firem</strong></td>
		<td><strong>aktivit</strong></td>
	</tr>
    <?php $fastest->dashboard_data_list($oddeleni_realizace_data); ?>
    
</table>