<h2>Oddělení náboru:</h2>
<table class='table'>
	<tr>
		<td>Datum</td>
		<td colspan="3"><?php echo $htmlExt->input('oddeleni_naboru_mesic',array('value'=>$mesic,'class'=>'months'));?></td>
	</tr>
    <tr>
		<td>Počet IN</td>
		<td colspan="3"><?php echo $pocet_in;?></td>
	</tr>
	<tr>
		<td>Počty</td>
		<td><strong>nom.</strong></td>
		<td><strong>ČL</strong></td>
		<td><strong>zam.</strong></td>
	</tr>
    <?php $fastest->dashboard_data_list($oddeleni_naboru_data); ?>
    
</table>