<div>
    <?php echo $htmlExt->selectTag('filter_cl',$orderByCekaciListina,null,array('label'=>'Seřadit dle'));?>
</div><br />
<div id="updateCL">
    <?php echo $this->renderElement('../orders_cast_posts/tabs/cekaci_listina_item');?>
</div>
<script>
$('FilterCl').addEvent('change',function(e){
    e.stop();
    new Request.HTML({
			url:'/orders_cast_posts/cl_ajax_sort/'+$('CompanyOrderItemId').value+'/'+this.value+'/'+'<?= $detail['CompanyOrderItem']['order_status'];?>',
            update:'updateCL',
			onComplete: function(){}
    }).send();        
})
</script>