<fieldset id="group_list">
    <legend>Skupiny příjemců</legend>

<ul>
<?php if (isset($group_list) && count ($group_list)>0):?>
	<?php foreach($group_list as $id => $item):?>
		<li><?= $htmlExt->checkbox('CampaignEmail/group/'.$id, null, array('label'=>$item));?></li>
	<?php endforeach;?>
<?php endif;?>		
</ul>
</fieldset>	<br />
<?php echo $htmlExt->textarea('CampaignEmail/additional_recipients',array('label'=>'Další příjemci<br/>(oddělte čarkou)','class'=>'long','label_class'=>'long'));?>
	<br />	  
<script type="text/javascript">

</script>