ul#navmenu {position:absolute;top:5px;left:70px;z-index:10;}
/*1 uroven */
ul#navmenu li {float:left;margin:0;display:block;background:#F1F2F4 url("../../css/fastest/menu/li_menu.gif") no-repeat 8px;position:relative;font-weight:bold;border-right:1px solid #F1F2F4;border-left:1px solid #F1F2F4;padding-left:2px;}
ul#navmenu li a {color:#61134C;text-decoration:none;display:block;padding:23px 8px 22px 19px;}
ul#navmenu li:hover,ul#navmenu li.iehover{background:#E5E5E5 url("../../css/fastest/menu/li_menu_hover.gif") no-repeat 8px;border-right:1px solid #ccc;border-left:1px solid #ccc;}
ul#navmenu li a:hover {color:#61134C;text-decoration:underline;}

/*2 uroven */
ul#navmenu ul {display:none; width:460px;} 
ul#navmenu ul li {float:left; width:220px;}
ul#navmenu ul li a{border-bottom:1px solid #ccc;height:1%;text-decoration:underline; font-size:10px}
ul#navmenu li:hover ul ,ul#navmenu li.iehover ul {top:56px;left:-1px;border-color:#ccc;padding:5px 0px;border-width:0px 0px 1px 1px;border-style:solid;display:block;position:absolute;background:#F6F7F8;}

ul#navmenu li:hover ul li,ul#navmenu li.iehover ul li{height:1%;background:#F6F7F8;position:relative;padding:0px 4px;border-right:0px;}
ul#navmenu li:hover ul li a,ul#navmenu li.iehover ul li a{height:1%;color:#006FB8;font-weight:normal;display:block;line-height:20px;padding:5px 5px;}
ul#navmenu li:hover ul li a:hover,ul#navmenu li.iehover ul li a:hover{background:#fff;color:#61134C;text-decoration:none;}
 
/*3 uroven */
ul#navmenu ul ul {display:none;}
ul#navmenu li:hover li:hover ul,ul#navmenu li.iehover li.iehover ul{top:-5px;left:200px;width:200px;display:block;}

/*IE HOVER*/
ul#navmenu li ,ul#navmenu li ul li,ul#navmenu li ul li ul li{background-color: expression(this.onmouseover = new Function("this.className += ' iehover';"),this.onmouseout = new Function("this.className = this.className.replace(' iehover', '')"));}