<div id="box_print">
    <div class="sll">
    <?php
    	echo $htmlExt->var_text(null, array('label'=>'Měsic','class'=>'read_info','value'=>$mesice_list[$detail['ConnectionCompanyToAuthorization']['month']])).'<br />';	   	  
    	echo $htmlExt->var_text(null, array('label'=>'Firma','class'=>'read_info','value'=>$detail['Company']['name'])).'<br />';	   	   
    	echo $htmlExt->var_text(null, array('label'=>'Celková částka abc doplatku','class'=>'read_info','value'=>$fastest->price($detail[0]['doplatky'],($detail['Company']['stat_id'] == 1 ? ',- Kč' : ',- EUR')))).'<br />';
        echo '<label>Datum převzetí:</label><var>..............................</var><br />';
    ?>
    </div> 
    <div class="slr">
    
    <?php
    	echo $htmlExt->var_text(null, array('label'=>'Rok','class'=>'read_info','value'=>$detail['ConnectionCompanyToAuthorization']['year'])).'<br />';	   	  
        echo '<label>Jméno koordinátora:</label><var>..............................</var><br />';
        echo '<label>Částka z podkladny:</label><var>..............................</var><br />';
        echo '<label>Kdo vydal:</label><var>..............................</var><br />';
    ?>
    </div>
</div>
<br />
<br /> 
<br /> 
 
        				<table class='table' style="width: 100%;">
        					<tr style="text-align: left;">
        						<th>Zaměstnanec</th>
        						<th>Počet hodin</th>
        						<th>Částka abc doplatku</th>
        						<th>Abc zůstatek</th>
        						<th>Pozdržet výplatu</th>
        						<th>Srážka</th>
        						<th>Odměna1</th>
        						<th>Odměna2</th>
        						<th>Celk. výplata</th>
        						<th>Poznámka</th>
        					</tr>
        					<?php 
        					if (isset($zamestnanci_list) && count($zamestnanci_list) > 0){
        						foreach($zamestnanci_list as $zam):	
        						?>
        						<tr>
        							<td class='td_client'><?php echo $zam['Client']['name'];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['celkem_hodin'];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['salary_part_4_p'];?></td>
        							<td><?php echo round(($zam['ClientWorkingHour']['salary_part_4_p']-$zam[0]['zalohy']),2);?></td>
        							<td><?php echo $ano_ne_checkbox[$zam['ClientWorkingHour']['stop_payment']];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['drawback'];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['odmena_1'];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['odmena_2'];?></td>
        							<td><?php echo $zam['ClientWorkingHour']['salary_per_hour_p'];?></td>							
        							<td style="padding: 0px; margin:0px;">..................................................</td>							
        						</tr>
        					<?php 
        						endforeach;
        					}
        					else echo "<tr id='NoneSearch'><td></td>Žádní zaměstnanci</td></tr>"; 
        					?>
    					</table>
		
<script language="javascript" type="text/javascript">
print();
$('print_button').addEvent('click',function(e){
   e.stop();
   print();
    
});

</script>