<style>
.transport_cards_box .slla,.transport_cards_box .slr {width:50% !important;}
.transport_cards_box{ width: 665px; height:960px !important; overflow: hidden;}
.transport_cards_box .transport_card_item{ border:1px solid black !important; width:330px ; height:190px; position:relative;}
.transport_cards_box .transport_card_item .logo { width: 75px; height:50px; position:absolute; top:25px; left:40px;}
.transport_cards_box .transport_card_item .bus { width: 160px; height:80px; position:absolute; top:7px; left:161px;}
.transport_cards_box .transport_card_item .tci_name {position:absolute; top:90px; left:92px; text-decoration: underline; font-size: 16px; font-weight: bold;}
.transport_cards_box .transport_card_item .tci_company {position:absolute; top:122px; left:30px;}
.transport_cards_box .transport_card_item .tci_route {position:absolute; top:140px; left:30px;}
.transport_cards_box .transport_card_item .tci_validity {position:absolute; top:156px; left:30px; font-size: 15px; width:190px; height:17px; overflow:hidden;}
</style>


<div class="transport_cards_box">
<?php
$stranek = ceil(count($clients_list)/10);
$radek = 0;
$str = 1;
for($i=0;$i<count($clients_list);$i+=2){// $clients_list as $i=>$client){
    
    echo '<div class="sll">';
    if(isset($clients_list[$i]))
        echo $this->renderElement('../client_employees/transport_card_item',array('i'=>$i,'client'=>$clients_list[$i]));
    echo '</div>';
    echo '<div class="slr">';
    if(isset($clients_list[$i+1]))
        echo $this->renderElement('../client_employees/transport_card_item',array('i'=>$i+1,'client'=>$clients_list[$i+1]));
    echo '</div><br />';
    
    $radek++;
    //nova stranka
    if($radek == 5){ 
        $radek = 0; echo '</div><br />';
        if($str != $stranek){$str++; echo '<div class="transport_cards_box">';}
    }
}
?>
</div><br />
<script>
window.print();
</script>