				<fieldset class="attachment_field">
					<legend>Seznam příloh</legend>
						<table>
							<?php 
								if (isset($this->data['Newsletter']['attachments']) && !empty($this->data['Newsletter']['attachments']) && count($this->data['Newsletter']['attachments']) > 0){
									foreach($this->data['Newsletter']['attachments'] as $item){
										list($file, $caption) = explode('|',$item);
										$caption_tmp = $caption;
										$caption = end(Explode("/", $caption));
										echo "<tr><td>$file</td><td>$caption</td><td><img src='/css/fastest/table/ta_trash_all.png' class='icon del_attach' alt='Smazat' title='Smazat' /></td><input type='hidden' name='data[Newsletter][attachments][]' value='$file|$caption_tmp' /><tr>";
								
									}
								} else {
								//echo '<span id="no_attachment"> Tento Email nemá žádné přílohy.</span>';
								}
							?>
						</table>
				</fieldset>
				<br />
				<script>
					$('prilohy_list').getElements('.del_attach').addEvent('click', function(e){
					if (confirm('Opravdu si přejete smazat přílohu?'))
						this.getParent('tr').dispose();
					});
				</script>
				