.wysiwyg {width:79%; height:335px; display:block;border:1px solid #bdcad3;float:left;position:relative;margin-left:2px;}
.wysiwyg .toolbar {width:100%;clear:both;position:relative; border-bottom:1px solid #bdcad3;background:#FAFAFA;}
.wysiwyg .textarea {width:98%; height:280px; padding:1%;background:#fff; overflow:auto;outline: none;}
.wysiwyg .footer {width:98%; height:18px;line-height:18px; border-top: 1px solid #bdcad3;color:#666;padding:0 1%;background:#FAFAFA;position:absolute;bottom:0;left:0;}
.wysiwyg *{outline: none;}

.wysiwyg .popupWindow {display:none;width:500px; min-height:50px; background:#fff;border:1px solid #CCC; padding:28px 1px 5px;position:absolute; top:30px; left:10px;font-size:11px;border-bottom:1px solid #666;border-right:1px solid #666;}
.wysiwyg .popupClose {background:url(png/close.png) no-repeat;width:17px;height:15px;display:block;position:absolute;right:5px;top:2px;cursor:pointer} 
.wysiwyg .popupWindow h3 {background:#F0F5F9; color:#041040; height:20px; line-height:20px; font-size:11px; font-weight:bold;position:absolute;top:0;left:0;width:98%;padding:0 1%;margin:0;border-bottom:1px solid #ccc;}
 
.popup .paste_html_div {width:98%;padding:1%;height:150px;overflow:auto;}
.wysiwyg .toolbar span {width:16px; height:16px; display:block; float:left;cursor:pointer;background-repeat:no-repeat;}
.wysiwyg .toolbar button {padding:2px;margin:2px;width:18px; height:18px; display:block; float:left;cursor:pointer; border:1px solid #FAFAFA;background-repeat:no-repeat;background-color:#FAFAFA;background-position:center center;}
.wysiwyg .toolbar button:hover {background-color:#EEF3F8;border:1px solid #ccc;}

.wysiwyg textarea.text_area {margin:0px;padding:5px !important;width:100%;font-size:12px !important;}

.wysiwyg .textarea img ,.wysiwyg .textarea img.obrazek{max-width:575px;}
.wysiwyg .textarea ul ,.wysiwyg .textarea ol{margin:1em;}
.wysiwyg .textarea ul li{margin:1em;list-style-type:disc;}
.wysiwyg .textarea ol li{margin:1em;list-style-type:decimal;}
.wysiwyg .textarea ul li ul li,.wysiwyg .textarea ol li ol li{margin:1em;}
.wysiwyg .textarea *{font-size:12px;}
.wysiwyg .textarea a{color:#0015FF;text-decoration:underline;}
.wysiwyg .textarea address {font-style:italic;margin:5px;}
.wysiwyg .textarea pre {white-space:-moz-pre-wrap !important; padding:0;margin:5px;border:0;width:auto;font-family:monospace;}
.wysiwyg .textarea p ,.wysiwyg .textarea address {line-height:15px;}
.wysiwyg .textarea h2 ,.wysiwyg .textarea h3 ,.wysiwyg .textarea h4 ,.wysiwyg .textarea h5 ,.wysiwyg .textarea h6 {margin:1em 0;padding:5px;}
.wysiwyg .textarea h2 {font-size:20px;font-weight:bold;}
.wysiwyg .textarea h3 {font-size:18px;}
.wysiwyg .textarea h4 {font-size:17px;font-weight:bold;}
.wysiwyg .textarea h5 {font-size:15px;font-weight:bold;}
.wysiwyg .textarea h6 {font-size:13px;font-weight:bold;}




.wysiwyg button.inactive ,.wysiwyg select.inactive{opacity:0.2;filter:alpha(opacity=20);} 
.wysiwyg a.anchor {	line-height:6px;overflow:hidden;padding-left:12px;width:12px;background:url(png/anchor_symbol.gif) no-repeat;}
.wysiwyg input[type='text'] {width:49%;}
.wysiwyg select {width:50.2%;}

.wysiwyg a.but {float:left;width:16px;height:16px;margin:2px;}
.wysiwyg .folder_file {background-image:url(png/folder_file.png)}
.wysiwyg .folder_article {background-image:url(png/folder_article.png)}
.wysiwyg .folder_category {background-image:url(png/folder_category.png)}

.wysiwyg .bold {background-image:url(png/text_bold.png)}
.wysiwyg .italic {background-image:url(png/text_italic.png)}
.wysiwyg .underline {background-image:url(png/text_underline.png)}
.wysiwyg .strikethrough {background-image:url(png/text_strikethrough.png)}
.wysiwyg .justifyleft {background-image:url(png/text_align_left.png)}
.wysiwyg .justifyright {background-image:url(png/text_align_right.png)}
.wysiwyg .justifycenter {background-image:url(png/text_align_center.png)}
.wysiwyg .justifyfull {background-image:url(png/text_align_justify.png)}
.wysiwyg .format {float:left;height:18px;margin:2px 0;padding:0;}
.wysiwyg .cut {background-image:url(png/cut.png)}
.wysiwyg .copy {background-image:url(png/page_copy.png)}
.wysiwyg .paste {background-image:url(png/page_paste.png)}
.wysiwyg .insertorderedlist {background-image:url(png/text_list_numbers.png)}
.wysiwyg .insertunorderedlist {background-image:url(png/text_list_bullets.png)}
.wysiwyg .link {background-image:url(png/link_add.png)}
.wysiwyg .unlink {background-image:url(png/link_delete.png)}
.wysiwyg .anchor {background-image:url(png/anchor.png)}
.wysiwyg .image {background-image:url(png/image.png)}
.wysiwyg .html {background-image:url(png/xhtml.png)}
.wysiwyg .fullscreen {background-image:url(png/zoom_in.png)}
.wysiwyg .superscript {background-image:url(png/text_superscript.png)}
.wysiwyg .subscript {background-image:url(png/text_subscript.png)}
.wysiwyg .popupWindow .close_button {background:url(png/button.png); width:auto; height:22px;border:1px solid #ccc;}