<form method='post' id='calendar_formular'>
	<div>
		<?php echo $htmlExt->selectTag('SettingStatSvatek/year', array('2008'=>'2008','2009'=>'2009','2010'=>'2010','2011'=>'2011','2012'=>'2012','2013'=>'2013','2014'=>'2014','2015'=>'2015'),null,array('class'=>'half'),null,true);?>
	<br />
		<br />
		<div id='calendar_div'><span class="info">Zvolte rok</span></div>
	</div>
	<div class="win_save">
		<?php echo $htmlExt->button('Zavřít',array('id'=>'close','tabindex'=>4));?>
	</div>
</form>
<script>
$('close').addEvent('click', function(e){
	new Event(e).stop();
	domwin.closeWindow('domwin_show');
});


$('SettingStatSvatekYear').addEvent('change', function(){

	if($('SettingStatSvatekYear').value != ""){
		new Request.HTML({
			url: '/setting_stats/show_item/' +<?php echo $stat_id;?> + '/' + $('SettingStatSvatekYear').value,
			update:'calendar_div'
		}).send();
	}
});


</script>