<table class='table'>
	<tr>
		<th>Datum</th>
		
	</tr>
	<?php if (isset($svatky_list) && count($svatky_list) >0):?>
	<?php foreach($svatky_list as $svatky_item):?>
	<tr>
		<td><?php echo $fastest->czechDate($svatky_item['SettingStatSvatek']['datum']);?></td>
	</tr>
	<?php endforeach;?>
	<?php else:?>
	<tr>
		<td colspan='5'>K tomuto roku nebyly nadefinovány svátky</td>
	</tr>
	<?php endif;?>
</table>