<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='cs' xml:lang='cs' xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv='Content-language' content='cs' />
	<meta name='Author' content='Fastest Solution, url: http://www.fastest.cz' />
	<meta name='Copyright' content='Fastest Solution, All Rights Reserved url: http://www.fastest.cz' />
	<link href='/css/print_form.css' rel='stylesheet' type='text/css' media='all' />
	<script type="text/javascript" src="/js/mootools1.2.js"></script>
	<script type="text/javascript" src="/js/mootools.other.js"></script>
<title>Tisk</title>
</head>
<body>
<?php echo $content_for_layout; ?>
</div>
</body>
</html>